[user]
	name = Rishi K.
	email = contact.rishikmr@gmail.com
[core]
	editor = nvim
	pager = delta
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
